<app-home></app-home>

<hr>
<h4 class="text-center">Reservation List</h4>
<table class="table table-striped" >
    <thead>
        <tr>
            <th>Guest Name</th>
            <th>Guest Email</th>
            <th>Checking Date</th>
            <th>Checkout Date</th>
            <th>Room Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reservation of reservations">
            <td>{{reservation.guestName}}</td>
            <td>{{reservation.guestEmail}}</td>
            <td>{{reservation.checkInDate}}</td>
            <td>{{reservation.checkOutDate}}</td>
            <td>{{reservation.roomNumber}}</td>
            <td>
                <button class="btn btn-small btn btn-outline-danger m-1" 
                        (click)="deleteReservation(reservation.id)">Delete</button>
                <button class="btn btn-small btn btn-outline-info m-1" 
                        [routerLink]="['/edit', reservation.id]"> Edit </button>
            </td>
        </tr>
    </tbody>
</table>
<ul *ngIf="reservations.length; else noReservation">

</ul>


<!-- template for no data in the table -->
<ng-template #noReservation>
    <h3 class="text-center" style="color: red;">No reservation available</h3>
</ng-template>